name: app-build-action-dev
on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Build Android APK (Debug)
        run: |
          cd simple_live_app
          flutter pub get
          # 关键修改：这里改成了 --debug，这样就不需要签名密码了
          flutter build apk --debug --no-tree-shake-icons --build-name=1.0.0 --build-number=1
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          # 关键修改：路径里的 release 也改成了 debug
          path: simple_live_app/build/app/outputs/flutter-apk/app-debug.apk
