name: app-build-action-dev
on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Build Android APK
        run: |
          # 进入 App 目录 (最关键的一步)
          cd simple_live_app
          # 安装依赖
          flutter pub get
          # 强制指定版本号，跳过所有 Git 检查
          flutter build apk --release --no-tree-shake-icons --build-name=1.0.0 --build-number=1
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: simple_live_app/build/app/outputs/flutter-apk/app-release.apk
